html{
	margin: 0; 
	height: 100%; 
	overflow: hidden
}

.fullScreenBG{
	background-image: linear-gradient(yellow, red);
	height:100vh;
	width:100vw;
	text-align: center;
}
body{
	padding: 0px;
	margin:0px;
	border:0px;
}

.centerText{
	padding: 0px;
	margin:0px;
	border:0px;
	font-size: 20px;
	transition: font-size 2s ease;
}
.centerText:hover{
	font-size: 40px
}

.keyFrameText{
	padding: 0px;
	margin:0px;
	border:0px;
	font-size: 20px;
	position: relative;
	top:50%;
	animation: colorSizeShift 5s infinite;
	transition: font-size 2s ease;
}

@keyframes colorSizeShift {
	0% 100%{font-size: 20px; color: black;}
	50%{font-size: 50px;color:white;}
}
