@font-face {
    font-family: 'barlow_condensedblack';
    src: url('barlowcondensed-black-webfont.woff2') format('woff2'),
         url('barlowcondensed-black-webfont.woff') format('woff'),
         url('barlowcondensed-black-webfont.svg#barlow_condensedblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{
	font-family:  Arial, sans-serif;
}
header{
	background-color: black;
	height: 5em;
	position: relative;
}

.headerLink{
	color: white;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	text-decoration: none;
	transition: all 0.5s ease;
}

.headerLink:hover{
	color: black;
}

#headerLink1{
	right:19em;
}
#headerLink2{
	right:13em;
}
#headerLink3{
	right:7em;
}
#headerLink4{
	right:2em;
}

#headerIcon{
	color: white;
	position: absolute;
	top: 15%;
	transform: translate(0,-50%);
	left: 2em;
	font-size: 3.5em;
}

footer{
	bottom:0em;
	background: lightgrey;
	line-height: 1.5em;
}

.footerLink{
	color: black;
	text-decoration: none;
	transition: all 1s ease;
	padding: 1em;
	font-weight: 900;
}

.footerText{
	color: black;
	padding-left: 1em;
}

.pageTitle{
	left:50%;
	transform: translate(-50%,0);
	position: absolute;
	font-size: 2em;
	font-weight: 900;
}
#formSection{
	height: 25em;
}

.inputLabel{
	position: absolute;
	left:50%;
	transform: translate(-50%,0);
	width: 60%;
}

.textBox{
	width: 100%;
	border: 2px solid black;
}

#submitButton{
	width: 30%;
	height: 3em;
	border: 2px solid black;
	background-color: white;
	font-size: 1.2em;
	font-weight: 200;
	color:  black);
	transition: all 1s ease;
	left:50%;
	position: absolute;
	transform: translate(-50%,0);
	top:20em;
}

#submitButton:hover{
	background-color: lightgrey;
	border: 1px solid black;
}

#nameInput{
	top:9em;
}

#emailInput{
	top:12em;
}

#commentInput{
	top:15em;
}

#bigBox{
	height:6em;
}

.inputInvalid{
	border: 3px solid red;
}

#commentSection{
	height: 2em;
}

.comment{
	left:50%;
	transform: translate(-50%,0);
	background-color: lightgrey;
	position: absolute;
}

.userName{
	font-size: 1.5em;
	font-weight: 600;
}

#map{
	height:20em;
	position: absolute;
}

#mapSection{
	height: 40em;
	top:3em;
}

#mapTitle{
	height:4em;
}
#mapContainer{
	height: 45em
}

.mapDescription{
	position: absolute;
	font-size: 1.5em;
}

#collegeDescription{
	top: 36em;
}

#employerDescription{
	top: 39em;
}

#mapDescriptionContainer{
	height:13em;
}
#randomImage{
	height:20em;
	left: 50%;
	position: absolute;
	transform: translate(-50%,0);
	top:10em;
}

#reloadDog{
	width: 30%;
	height: 3em;
	border: 2px solid black;
	background-color: white;
	font-size: 1.2em;
	font-weight: 200;
	color:  black);
	transition: all 1s ease;
	left:50%;
	position: absolute;
	transform: translate(-50%,0);
	top:26em;
}

#reloadDog:hover{
	background-color: lightgrey;
	border: 1px solid black;
}

#dogContent{
	height: 31em;
}

#contentContainer{
	height:55em;
}

#subTitle{
	left:50%;
	transform: translate(-50%,0);
	position: absolute;
	top:8em;
	font-size: 1.2em;

}

#contentList{
	left:50%;
	transform: translate(-50%,0);
	position: absolute;
	top:12em;
	list-style-type: square;
}

#movingShip{
	position: absolute;
	top:18em;
}

#doYouNeed{
	left:50%;
	transform: translate(-50%,0);
	position: absolute;
	top:25em;
}

#tryThisLink{
	left:50%;
	transform: translate(-50%,0);
	position: absolute;
	top:27em;
}

#googleLink{
	left:50%;
	transform: translate(-50%,0);
	position: absolute;
	top:15em;
	font-size: 2em;
	transition: all 1s ease;
	text-decoration: none;
}

#googleLink:hover{
	font-weight: 900;
	color:red;
}

#flexContainer{
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	position: absolute;
	top: 37em;
}

.topicBox{
	width: 5em;
	height: 2.5em;
	background-color: black;
	text-align: center;
	padding-top: 2.0em;
	color: white;
	font-size: 2em;
	border: 2px solid white;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	transition: all 1s ease;
}

#longBox{
	padding-top: 1.0em;
	height: 3.7em;
}

.topicBox:hover{
	background-color: grey;
	font-size: 3em;
}

#contentReminder{
	left:50%;
	transform: translate(-50%,0);
	position: absolute;
	top:34em;

}

@media screen and (max-width: 1000px) {
	#contentContainer{
	height:75em;}
	.topicBox{
	width: 7em;}

}

@media screen and (max-width: 768px) {

	#headerIcon{
		left: 0em;
	}
	#headerLink1{
		right:14em;
	}
	#headerLink2{
		right:10em;
	}
	#headerLink3{
		right:6em;
	}
	#headerLink4{
		right:2em;
	}
	#contentContainer{
		height:110em;}

	#collegeDescription{
		top: 37em;
	}

	#employerDescription{
		top: 42em;
	}

	#mapDescriptionContainer{
		height:20em;
	}

}