@font-face {
    font-family: 'barlow_condensedblack';
    src: url('barlowcondensed-black-webfont.woff2') format('woff2'),
         url('barlowcondensed-black-webfont.woff') format('woff'),
         url('barlowcondensed-black-webfont.svg#barlow_condensedblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

.headerSection{
	height: 7em;
	background-color: olive;
	position: relative;
	text-align: center;
}

.mainTitle{
	position: absolute;
	font-size: 3.5em;
	top:10%;
	left: 50%;
	transform: translate(-50%,0);
	font-family: 'barlow_condensedblack', Arial, sans-serif;
}

.subTitle{
	position: absolute;
	font-size: 1.5em;
	top:60%;
	left: 50%;
	transform: translate(-50%,0);
	font-family: 'barlow_condensedblack', Arial, sans-serif;
}

.formBody{
	position: relative;
	height: 40em;
}
.fNameLable{
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	width: 50%;
	top: 10%;
}
.fNameInput{
	width: 100%;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	border: 2px solid red;
	color: olive;
}

.lNameLable{
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	width: 50%;
	top:20%;
}
.lNameInput{
	width: 100%;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	border: 2px solid red;
	color: olive;
}
.phoneLable{
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	width: 50%;
	top:30%;
}
.phoneInput{
	width: 100%;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	border: 2px solid red;
	color: olive;
}
.favGame1{
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	position: absolute;
	top:40%;
	left:25%;
}

.favGame2{
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	position: absolute;
	top:40%;
	left:50%;
	transform: translate(-50%,0);
}

.favGame3{
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	position: absolute;
	top:40%;
	left:75%;
	transform: translate(-100%,0);
}

.gameExplan{
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	width: 50%;
	top:50%;
}

.textBox{
	width: 100%;
	height: 8em;
	border: 2px solid red;
	resize: none;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	color: olive;
}

.surveyQualityArea{
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	width: 50%;
	top:80%;
}

.surveyQualityDropdown{
	width: 100%;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	border: 2px solid red;
}

.submitButton{
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	width: 20%;
	height: 5%;
	top:90%;
	border: 2px solid red;
	background-color: white;
}

.submitButton:hover{
	background: olive;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: olive;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: olive;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: olive;
}

@media screen and (max-width: 767px) {
	.headerSection{
		background: red;
	}
	.fNameLable{
		width: 80%;
	}
	.lNameLable{
		width: 80%;
	}
	.phoneLable{
		width: 80%;
	}
	.gameExplan{
		width: 80%;
	}
	.surveyQualityArea{
		width: 80%;
	}
	.submitButton{
		width: 80%;
	}
}