@font-face {
    font-family: 'barlow_condensedblack';
    src: url('barlowcondensed-black-webfont.woff2') format('woff2'),
         url('barlowcondensed-black-webfont.woff') format('woff'),
         url('barlowcondensed-black-webfont.svg#barlow_condensedblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

header{
	background-color: rgb(28, 0, 173);
	height: 5em;
	position: relative;
}

.headerLink{
	color: white;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	text-decoration: none;
	transition: all 0.5s ease;
}

.headerLink:hover{
	color: black;
}

#headerLink1{
	left:2em;
}
#headerLink2{
	left:6em;
}
#headerLink3{
	left:10em;
}

#headerIcon{
	color: white;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	right: 4em;
	font-size: 2.5em;
}

footer{
	bottom:0em;
	background: lightgrey;
	line-height: 1.5em;
}

.footerLink{
	color: black;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	text-decoration: none;
	transition: all 0.5s ease;
	padding: 1em;
	font-weight: 900;
}

.footerText{
	color: black;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	padding-left: 1em;
}
#emailAddress{
	color: rgb(28, 0, 173);
	font-style: italic;
}
.footerLink:hover{
	color: rgb(28, 0, 173);
}

.contactForm{
	position: relative;
	font-family: 'barlow_condensedblack', Arial, sans-serif;
	padding:2em;
	height: 17em;
}

#contactTitle{
	top:5%;
	z-index: 1000;
	font-size: 2.5em;
	font-weight: 300;
}

.contactInput{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
}

#nameLableInput{
	top:25%;
	width: 60%;
}

#emailLableInput{
	top:35%;
	width: 60%;
}

#messageLableInput{
	top: 45%;
	width: 60%;
}
#bigBox{
	width:100%;
	height:8em;
	resize: none;
}
#submitButton{
	width: 20%;
	height: 10%;
	top:85%;
	border: 2px solid rgb(28, 0, 173);
	background-color: white;
	font-size: 1.2em;
	font-weight: 200;
	color:  rgb(28, 0, 173);
	transition: all 1s ease;
}

#submitButton:hover{
	background-color: grey;
	border: 1px solid rgb(28, 0, 173);
}

.textBox{
	border: 1px solid rgb(28, 0, 173);
	width: 80%;
	font-weight: 400;
}


@media screen and (max-width: 768px) {

	#headerIcon{
		right: 1em;
	}

}